<launch>
  <!-- Log specified topics -->
  <arg name="logged_topics" default="/tf" />

  <!-- CRAM Logging -->
  <node name="cram_logging" pkg="semrec" type="semrec" />

  <!-- Topic logging -->
  <node name="topic_logging" pkg="mongodb_log" type="mongodb_log.py" args="$(arg logged_topics)" />
</launch>
