<launch>

  <!-- Run only task variation 1 by default -->
  <arg name="task" default="task1_v1" />

  <!-- Start logging -->
  <include file="$(find suturo_planning_executive)/launch/logging.launch" />

  <!-- Start manipulation -->
  <include file="$(find euroc_launch)/launch/manipulation.launch" />

  <!-- Start perception -->
  <include file="$(find euroc_launch)/launch/perception_task1.launch" />

  <!-- Start Interface service provider -->
  <node name="scan_map_services" pkg="suturo_planning_interface" type="start_services.py" />

  <!-- Start YAML-Par0r -->
  <node name="yaml_pars0r" pkg="suturo_planning_yaml_pars0r" type="yaml_pars0r_node.py" />

  <!-- Start Task selector -->
  <node name="task_selector" pkg="euroc_launch" type="TaskSelector" />

  <!-- Start classifier -->
  <node name="classifier" pkg="suturo_perception_classifier" type="classifier.py" />

  <!-- Fixed frame publisher -->
  <node name="map_odom_publisher" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 /map /odom_combined 100" />

  <!-- The YAML files provided by euroc can't be loaded into the parameter server due to some invalid value;
       The files below are copys of those files without the internal section -->
  <group>
    <rosparam command="load" file="$(find suturo_planning_executive)/launch/$(arg task).yml" ns="/task_description" />
    <node name="simulator" pkg="suturo_planning_executive" type="start_simulator" args="$(arg task)" />
  </group>
</launch>
